

.agrosemillas{

display: flex;
justify-content: center;

}

.agrosemillas div a{
    margin: 10px;
    height: 20%;
    width: 20%;
    background-color: black;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

/*copiado header*/

body {
    margin: 0px 150px;
    font-family: Arial, sans-serif;
    background-image: url(https://news.agroads.com.ar/wp-content/uploads/2023/11/Soja-Desab.jpg);
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed;
}

.linea{
   
    height: 2px;
    color: black;
    background-color: black;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    
    color: rgb(0, 0, 0);
}

.logo img {
    width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
    height: auto;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.agrosemillas button{

    height: 200px;
    width: 200px;
    margin: 30px;
    margin-top: 50px;
    border-radius: 10%;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra a las imágenes */

}

.semillas{
    background-image: url(/imagenes/semillas.png);
    background-position: center;
    background-size: cover;
    border-width: 1px;
    border-color: black;
    
}

.agroquimicos {
    background-image: url(/imagenes/agroquimicos.avif);
    background-position: center;
    background-size: cover;
    border-width: 1px;
    border-color: black;
}

.agroquimicos p{
    color: black;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #777;
}

@media (max-width: 768px) {

    .agrosemillas button{

        height: 150px;
        width: 150px;
        margin: 20px;
        margin-top: 40px;
        border-radius: 10%;
        cursor: pointer;
    }

    header{

        display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    }

   

    .menu ul li {
        margin-bottom: 10px;
    }

    .logo img {
        width: 90px;
    }

    .info h2 {
        font-size: 20px;
    }

    .info p {
        font-size: 14px;
    }

    .mapa-container iframe,
    .mapa-container-santa iframe {
        height: 250px;
    }

    body{
        margin: 0px;
    }
}

@media (max-width: 480px) {
    
    .sucursales h3{
        margin: 0px;
    }
    
    .menu ul {
        
        align-items: center;
    }

    .menu ul li {
        margin-bottom: 10px;
    }

    .logo img {
        width: 90px; /* Ajusta el tamaño del logo en pantallas más pequeñas */
    }

    
}
