:root{
    
    --fondo: url(/imagenes/Soja-Desab.jpg);

}

body {
    margin: 0px 150px;
    font-family: Arial, sans-serif;
    background-image: var(--fondo);
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen de fondo */
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #777;
}

.linea{
   
    height: 2px;
    color: rgb(178, 5, 5);
    background-color: rgb(196, 16, 16);
}





.informacion{
    text-align: center; 
    background-color: antiquewhite;
    border-radius: 5px;

}

.informacion h1{
    margin: 90px 30px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 25px;
}

.fotosmarcas{
    display: flex;
    justify-content: center;
    width: 10px;
    

}

div img{
    width: 150px;
    height: 150px;
    margin: 15px;

    
}

.fotosmarca img {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Añade sombra a las imágenes */
    border-radius: 8px; /* Opcional: redondea las esquinas de las imágenes */
}

.fondobeige{
    margin: 30px;
}



/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {


    .informacion h1 {
        margin: 0px 10px;
        font-size: 24px; /* Reduce el tamaño del texto en pantallas más pequeñas */
    }

    .fotosmarca img {
        width: 120px; /* Ajusta el tamaño de las imágenes en pantallas más pequeñas */
        height: 120px;
    }

    
}

@media (max-width: 480px) {
    body {
        margin: 0; /* Elimina el margen en pantallas más pequeñas */
    }

    .informacion h1 {
        font-size: 20px; /* Ajusta el tamaño del texto aún más en pantallas muy pequeñas */
    }

    .fotosmarca img {
        width: 100px; /* Ajusta el tamaño de las imágenes en pantallas muy pequeñas */
        height: 100px;
    }

   
}


